.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    min-width: 345px;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.title {
  text-align: center;
}
