.wrapper {
  margin-top: 40px;
  padding: 0 30px;
}

.link {
  display: block;
  text-align: right;
}

.fieldsContainer {
  display: flex;
  justify-content: center;

  button {
    margin-left: 6px;
  }
}

.moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  & > div {
    min-width: 345px;
  }
}